; Duplique esse arquivo com o nome "env.ini"

host = "localhost"
username = "user"
password = "password"
database = "innout"

; Configuracoes do Active Directory (LDAP)
ldap_host = "127.0.0.1"
ldap_domain = "domain.local"
ldap_base_dn = "OU=Users,DC=domain,DC=local"
